Django 
djangorestframework 
django-cors-headers 
django-crispy-forms 
crispy-bootstrap5 
django-filter 
djangorestframework_simplejwt 
drf-spectacular  
psycopg2-binary  
django-environ  
django-captcha 
django-recaptcha  
whitenoise  
requests
pillow 
pillow_heif 
pipenv 
drf-spectacular